*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b0f19;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 8%;
    background:#111827;
}

.logo span{
    color:#ff4655;
    font-size:28px;
    font-weight:800;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.active{
    color:#ff4655;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:3rem;
    color:#ff4655;
}

.services{
    padding:50px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.service-card{
    background:#151c2c;
    padding:30px;
    border-radius:20px;
    text-align:center;
    transition:.3s;
}

.service-card:hover{
    transform:translateY(-10px);
}

.service-card i{
    font-size:40px;
    color:#ff4655;
    margin-bottom:15px;
}

footer{
    text-align:center;
    padding:30px;
    background:#05080f;
}